:root {
	--font-main: Rubik, Inter, system-ui, sans-serif;
}
rob-time {
	display: inline-block;
	border: var(--s-2) solid var(--color, black);
	border-radius: var(--s-2);
	overflow: hidden;
	line-height: 0;
}
canvas {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
select[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}
input[type="range"] {
	min-width: 250px;
}
